{% extends 'layout.html' %}

{% block title %}tau.pe - a friendly link shortener{% endblock %}

{% block head %}
{% parent %}
<link href='http://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
<div class="page-heading">
  <h1>{{title}}</h1>
  <form ng-submit="submit()" ng-controller="IndexCtrl">
    <input class="short-url" type="text" placeholder="Shorten me!" name="long"/>
    <div class="url-container">
      {{url}}
    </div>
  </form>
</div>
{% endblock %}
