{% extends 'layout.html' %}

{% block title %}tau.pe - a friendly link shortener{% endblock %}

{% block head %}
{% parent %}
<link href='http://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
<div class="page-heading">
  <h1>{{title}}</h1>
  <form ng-submit="submit()">
    <input class="short-url" type="text" ng-model="long" placeholder="shorten me!" name="long" id="long"/>
    <div ng-show="warn" class="url-container">
      {[{warn}]}
    </div>
  </form>
</div>
{% endblock %}
