<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../assets/css/foundation.css" />
    <script src="../assets/js/vendor/modernizr.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
{% block content %}{% endblock %}
<script src="../assets/js/vendor/jquery.js"></script>
<script src="../assets/js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>