<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{{appName}} - friendly link shortening</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="keywords" content="node.js, express, mongoose, mongodb, angularjs, swig">
    <meta name="description" content="MEAN - A Modern Stack: MongoDB, ExpressJS, AngularJS, NodeJS. (BONUS: Passport User Support).">

    <meta property="fb:app_id" content="APP_ID">
    <meta property="og:title" content="tau.pe - A link shortener for Developers">
    <meta property="og:description" content="An easy to use link shortener for developers.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="APP_URL">
    <meta property="og:image" content="APP_LOGO">
    <meta property="og:site_name" content="tau.pe">
    <meta property="fb:admins" content="APP_ADMIN">
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-46044500-5', 'tau.pe');
        ga('send', 'pageview');

    </script>

    {% for file in assets.core.css %}
        <link rel="stylesheet" href="{{file}}">
    {% endfor %}

    <link rel="stylesheet" href="/public/system/lib/bootstrap/dist/css/bootstrap.css">

    <link rel="stylesheet" href="/modules/aggregated.css">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
