html {
  background-color: #cdb39f;
}

body {
  background-color: #cdb39f;
}

.page-heading {
	margin-top:30%;
	text-align: center;
}

.short-url {
	width:80%;
	height:2.24rem;
	font-size: 1.25em;
	padding: .25rem;
}
